<h1>Browse your uploads</h1>

<% if flash[:notice] %>
  <div class="sixteen wide computer column">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="sixteen wide computer column">
    <p><%= flash[:error] %></p>
  </div>
<% end %>


<div class="ui grid">
  <div class="sixteen wide computer sixteen wide mobile column">
    <p><%= link_to "Upload a new file", new_file_upload_path, class: 'ui button primary' %></p>
    <p><%= link_to "Search for file", search_file_uploads_path %></p>
    <p>Looking for API keys? <%= link_to "Check here.", api_keys_path %></p>
    <table class="ui striped table">
      <thead>
      <tr>
        <th>Filename</th>
        <th>Uploaded at</th>
        <th colspan="2">Preview</th>
        <th>File size</th>
        <th>Expiration date</th>
        <th>Description</th>
        <th>Text</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @file_uploads.each do |file_upload| %>
        <tr class="<%= file_upload.active? ? '' : 'disabled' %>">
          <td><%= file_upload.upload.blob.filename %></td>
          <td><%= file_upload.created_at %></td>
          <td colspan="2"><%= miniature_for(file_upload) %></td>
          <td><%= file_upload.megabyte_size %>MB</td>
          <% if file_upload.expires_after %> 
          <td><%= file_upload.expires_after %></td>
            <% else %>
          <td>never</td>
          <% end %>
          <td><%= file_upload.description.to_s.first(400) %>...</td>
          <td><%= file_upload.caption %></td>
          <td>
            <% if file_upload.active? %>
              <%= link_to "View", "/show/#{file_upload.url}", class: 'ui primary button', target: '_blank' %>
              <%= button_to "Remove", file_upload, method: :delete, form: {class: 'inline-form', data: { turbo_confirm: 'Are you sure?' } }, class: 'ui inline button red' %>
            <% else %>
              <p>File has expired.</p>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="eight wide computer sixteen wide mobile column">
      <% if @page > 1 %>
        <%= link_to "<-", params.permit(:page, search: {}).merge(page: @page - 1), class: 'ui primary button'  %>
      <% end %>
      <% if @file_uploads.count == @per_page %>
        <%= link_to "->", params.permit(:page, search: {}).merge(page: @page + 1), class: 'ui primary button' %>
      <% end %>
    </div>
  </div>
  
</div>