<h1>System settings</h1>

<div class="ui grid">
  <% if flash[:notice] %>
    <div class="sixteen wide computer column">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>
  <div class="sixteen wide computer column">
    <% settings = SystemSettings.new.space_available[1..-1] %>
    <table class="ui striped table">
      <thead>
      <tr>
        <th>Filesystem</th>
        <th>Size</th>
        <th>Used</th>
        <th>Available</th>
        <th>Capacity</th>
      </tr>
      </thead>
      <tbody>
      <% settings.each do |setting_row| %>
        <% individuals = setting_row.split(/\s+/) %>
        <tr>
        <% individuals[0..4].each do |ind| %>
          <td><%= ind %></td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  
  <div class="twelve wide computer sixteen wide mobile column">
    <% if @expires_in_seconds && @remove_expired_files && @image_description_analysis %>
      <%= form_for :system_settings, url: system_settings_update_settings_path, method: :put, html: {class: 'ui form'} do |f| %>
        <div class="field">
          <%= f.label :expires_in_seconds, 'By default files expire in (seconds, set 0 for unlimited):' %>
          <%= f.number_field :expires_in_seconds, value: @expires_in_seconds.formatted_value %>
        </div>
       <div class="field">
         <%= f.label :remove_expired_files, 'Should expired files be automatically removed (daily task, NOT YET implemented)' %>
         <%= f.check_box :remove_expired_files, checked: @remove_expired_files.formatted_value %>
       </div>
        <div class="field">
          <%= f.label :image_description_analysis, 'Should image files be sent to description analysis after upload (requires separate application!)' %>
          <%= f.check_box :image_description_analysis, checked: @image_description_analysis.formatted_value %>
        </div>
        <div class="field">
          <%= f.submit "Update settings", class: 'ui button primary' %>
        </div>
      <% end %>
    <% else %>
     <p>One of the settings is missing. Please make sure to run all the migrations!</p>
    <% end %>
  </div>
  

  <div class="twelve wide computer sixteen wide mobile column">
    <%= button_to 'Remove expired files', system_settings_clean_up_expired_file_uploads_path, method: :delete, class: 'ui red button', form: {data: {turbo_confirm: 'Are you sure?'}} %>
  </div>
  
  
</div>
