<!DOCTYPE html>
<html>
  <head>
    <title>MyVeryBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="ui container">
      <div class="ui fixed inverted menu">
        <div class="ui container">
          <a href="/" class="header item">
            MyVeryBox
          </a>
          <%= link_to "File uploads", file_uploads_path, class: 'item' %>
          <%= link_to "API keys", api_keys_path, class: 'item' %>
          <%= link_to "System settings", system_settings_index_path, class: 'item' %>
        </div>
      </div>
      <br/>
      <%= yield %>
    </div>
  </body>
</html>
